<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1">
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="wSocketUrl" data-dojo-props="required: true" title="URL" style="width: 100%"></div>
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="wSubscribeUrl" data-dojo-props="required: true" title="Строка подписки" style="width: 100%"></div>
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="wFieldId" data-dojo-props="required: true" title="Поле ID" style="width: 100%"></div>
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="wFieldStyle" data-dojo-props="required: true" title="Поле стиля" style="width: 100%"></div>
    </div>
</div>